
//
// IMPORTS
//

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

* {
  padding: 20px 0;
  color: #f00;
}


